<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>   
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>Brian Watkins Home</title>        
<style type="text/css">body {font-family: Trebuchet, serif; }
#leftColumn { float: left;}
#rightColumn { float: right; }</style>
</head>
<body> 
<div id="leftColumn"> You are looking at the home page of Brian Watkins
<ul>   
<li>You may send me an email at <a href="mailto:brian@brian-watkins.us">WatkinsBrianR@gmail.com</a></li>   
<li>You can view an html version of
  my <a href="/resume">Resume</a></li>
<!--
<li>Here is the Resume as <a href="http://resume.brian-watkins.us/resume.txt">text</a> <a href="http://resume.brian-watkins.us/resume.rtf">rtf</a> <a href="http://resume.brian-watkins.us/resume.pdf">pdf</a>    </li>
<li>You can visit a Ruby on Rails site I developed for a Child & --
  --Adolescent Psychotherapy --
  --Conference <a href="http://WildThingsConference.org">Wild Things --
  --Conference</a></li> 
-->  
<li>You can visit my son's site displaying his <a href="http://jon-watkins.us">Art Portfolio</a></li>  </ul>  </div> 
<div id="rightColumn"><img style="width: 150px; height: 143px" alt="" src="./images/091.jpg"></div> 
</body>
</html>
